<main class="dashboard-main fade-in">
  <section class="dashboard-saludo">
    <h2>¡Bienvenidx, {{ infoUsuario?.nombre }}!</h2>
    <h3>{{ textoSeleccionado }}</h3>
  </section>
  <section class="dashboard-options">
    <app-fullcalendar />
    <div class="dashboard-sidebar">
      <button>Acceder al foro</button>
      <button (click)="openCreateEventModal()">Crear evento</button>
      <button (click)="openManageInstalacionesModal()">
        Administrar instalaciones
      </button>
      <button>Administrar tareas</button>
      <button routerLink="/manage_registros">
        Revisar registros de usuario
      </button>
    </div>
  </section>
</main>
<app-create-event-modal
  *ngIf="showCreateEventModal"
  (close)="closeModal()"
></app-create-event-modal>
<app-manage-instalaciones
  *ngIf="showManageInstalacionesModal"
  (close)="closeModal()"
></app-manage-instalaciones>
