<main class="dashboard-main fade-in">
  <section class="dashboard-saludo">
    <h2>¡Bienvenidx, {{ infoUsuario?.nombre }}!</h2>
    <h3>{{ textoSeleccionado }}</h3>
  </section>
  <section class="dashboard-options">
    <app-fullcalendar />
    <div class="dashboard-sidebar">
      <button
        *ngIf="decoded && decoded.rol === 'ADMIN'"
        (click)="openCreateEventModal()"
      >
        Crear evento
      </button>
      <button
        *ngIf="decoded && decoded.rol === 'ADMIN'"
        routerLink="/manage-registros"
      >
        <img
          src="../../../../assets/icons/notifications.svg"
          *ngIf="usuariosInactivos.length > 0"
        />
        Administrar registros de usuario
      </button>

      <button
        *ngIf="decoded && decoded.rol === 'ADMIN'"
        routerLink="/manage-instalaciones"
      >
        Administrar instalaciones
      </button>
      <button
        *ngIf="decoded && decoded.rol === 'ADMIN'"
        routerLink="/manage-tarea"
      >
        Administrar tareas
      </button>

      <button *ngIf="decoded && decoded.rol === 'USER'">
        Asignación de tareas
      </button>
      <button
        *ngIf="decoded && decoded.rol === 'USER'"
        routerLink="/instalaciones"
      >
        Consultar instalaciones
      </button>
      <button>Acceder al foro</button>
    </div>
  </section>
</main>
<app-create-event-modal
  *ngIf="showCreateEventModal"
  (close)="closeModal()"
></app-create-event-modal>
