.example-input-wrapper {
  margin-bottom: 16px;
}

.labels {
  margin-right: 4px;
  border-radius: 4px;
  padding-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.error {
  color: black;
}

.asterisk {
  color: red;
  margin-left: 5px;
}

.min-size-textarea {
  min-width: 500px;
  min-height: 150px;
  resize: none; /* Para evitar que el textarea se pueda redimensionar */
  margin-bottom: 10px;
}

.consulta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9bbcb6;
  font-family: "Outfit";
  font-size: 20px;
  color: rgb(67, 110, 142);
  height: auto;
  padding: 2rem;
  border-radius: 10px;
}

.button {
  background-color: rgb(73, 150, 174);
  border-radius: 20px;
  color: rgb(67, 110, 142);
  border: 2px rgb(67, 110, 142) !important;
  outline: none;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: aliceblue;
    color: rgb(222, 235, 233);
  }
  width: 100px;
}

.status-message {
  color: black;
  font-size: 1.2em;
  margin-top: 10px;
  text-align: center;
}

.status-message.success {
  font-weight: bold;
}

.status-message.error {
  color: red;
}

.consulta-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 235, 233);
  height: 100vh;
  width: 70vw;
  padding: 3rem;
  border-radius: 20px;
}
