.example-input-wrapper {
  margin-bottom: 16px;
}

.labels {
  margin-right: 4px;
  border-radius: 4px;
  padding-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.error {
  color: black;
}

.asterisk {
  color: red;
  margin-left: 5px;
}

.min-size-textarea {
  min-width: 500px;
  min-height: 150px;
  resize: none;
  margin-bottom: 10px;
  padding: 0 1rem;
}

input {
  padding: 0 1rem;
}

.consulta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9bbcb6;
  font-family: "Outfit";
  font-size: 20px;
  color: rgb(67, 110, 142);
  height: auto;
  border-radius: 10px;
}

.button {
  font-family: "Outfit";
  border-color: rgb(67, 110, 142);
  color: var(--azul-oscuros-oikos);
  border-radius: 10px;
  outline: none;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 1rem;

  &:hover {
    background-color: aliceblue;
    color: rgb(222, 235, 233);
  }
}

button {
  border-color: var(--azul-oscuros-oikos) !important;
  opacity: 1 !important;
}

.dark-blue-oikos-color {
  color: rgb(67, 110, 142);
}

.dark-blue-oikos-button {
  color: var(--azul-oscuros-oikos);
  --bs-btn-border-color: var(--azul-oscuros-oikos);
}

.status-message {
  color: black;
  font-size: 1.2em;
  margin-top: 10px;
  text-align: center;
}

.status-message.success {
  font-weight: bold;
}

.status-message.error {
  color: red;
}

.consulta-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 235, 233);
  height: 80vh;
  width: 70vw;
  padding: 1rem 3rem;
  border-radius: 20px;
}
