footer {
  width: 100vw;
  border-top: 1px solid #bfc8d2;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
/*footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}*/

.contenedor-pie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.enlaces {
  display: flex;
  flex-wrap: wrap; /* Permite que los enlaces se envuelvan en varias filas si es necesario */
  gap: 20px; /* Espacio entre enlaces */
}

h6 {
  text-align: center;
  margin-bottom: 10px; /* Espacio debajo del h6 */
}
.enlaces {
  display: flex;
  color: rgb(67, 110, 142);
}
a {
  color: rgb(67, 110, 142);
  text-decoration: none; /* Elimina el subrayado por defecto */
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding: 5px 10px; /* Añadimos relleno a los enlaces */
  transition: background-color 0.3s ease; /* Efecto de hover */
  margin-top: 2px;
  margin-bottom: 2px;
}

a:hover {
  background-color: #ccc; /* Color de fondo al pasar el cursor sobre el enlace */
}
