.iniciar {
    display: flex;
    justify-content: space-between;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
}

form {
    margin: 20px;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
.form-control {
    width: 100%;
}

.hero_container {
    display: flex;
    gap: 5rem;
    height: 70vh;
    justify-content: center;
    align-items: start;
    margin: 3rem 4rem;
    margin-top: 5rem;
    border-radius: 8px;
  }

  .hero_img {
    width: 30vw;
    transition: transform 0.3s ease-in-out; /* Set up a smooth transition for the hover effect */
  }
  .hero_img:hover {
    transform: scale(1.05); /* Increase the image size by 5% on hover */
  }

  .container {
    align-items: start;
    justify-content: center;
    background-color: rgb(222, 235, 233);
    color: rgb(67, 110, 142);
    padding: 20px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }