/* Principal container to center its contents */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  background-color: #9bbcb6;
  font-family: "Outfit";
  font-size: 16px; /* Adjust font size */
  color: rgb(67, 110, 142);
  height: calc(
    100vh - 100px
  ); /* Adjust height to account for header and footer */
  margin: 0; /* Ensure no margin around the container */
  padding: 50px 0; /* Add padding to prevent overlap with header and footer */
}

/* Text container inside the about container */
.text-container {
  background-color: rgb(222, 235, 233);
  display: flex-start;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center; /* Center the content within the text container */
  height: 70vw; /* Adjust to content height */
  max-height: 100%; /* Prevent overflow */
  width: 70vw;
  padding: 2rem; /* Adjust padding */
  border-radius: 20px;
  margin: 0; /* Remove any external margin */
  overflow-y: auto; /* Add vertical scroll if content overflows */
}

/* Additional styles for about-text */
.about-text {
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  width: 100%; /* Ensure it takes the full width of its container */
  color: rgb(67, 110, 142);
  font-size: 1rem; /* Smaller font size */
}

.about-text h4 {
  margin-top: 1rem; /* Add top margin */
  margin-bottom: 0.5rem; /* Add bottom margin */
}

.about-text span {
  display: block;
  margin-bottom: 1.5rem; /* Add bottom margin to create space between sections */
}
