.about-text {
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  width: 40vw;
  justify-content: center;
  color: rgb(67, 110, 142);
}
.register-container {
  display: flex;
  justify-content: center;
  background-color: #9bbcb6;
  font-family: "Outfit";
  font-size: 20px;
  color: rgb(67, 110, 142);
  height: auto;
}

.text-container {
  background-color: rgb(222, 235, 233);
  justify-content: center;
  height: 100vh;
  width: 50vw;
  padding: 3rem;
  border-radius: 20px;
  margin: 7rem 0;
  display: flex;
}
