<div class="about-container">
  <div class="text-container">
    <span class="about-text">
      <h4>Nuestra misión</h4>
      <span>
        Damos un giro a las comunidades de vecinos mediante la creación de una
        aplicación intuitiva y eficiente que facilite la autogestión de tareas
        comunes, promueva la colaboración y fomente relaciones sólidas entre los
        residentes. Nos comprometemos a transformar la convivencia vecinal en
        una experiencia armoniosa y cooperativa, donde cada vecino se sienta
        valorado y conectado.
      </span>
      <h4>Nuestra visión</h4>
      <span>
        Trabajamos para ser la aplicación líder en gestión comunitaria,
        reconocida por su capacidad para crear comunidades vecinales
        cohesionadas y solidarias. Aspiramos a construir un entorno donde la
        tecnología sea un puente que una a los vecinos, facilite la resolución
        de problemas cotidianos y fortalezca los vínculos sociales, promoviendo
        un sentido de pertenencia y apoyo mutuo en cada vecindario.
      </span>
    </span>
  </div>
</div>
