.modal {
  display: block; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: auto;
  border-radius: 10px;
  background-color: rgb(222, 235, 233);
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(67, 110, 142);
  margin: 2rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dashboard-sidebar {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: var(--verde-claro-oikos);
  border-radius: 30px;
  margin: 2rem;
}
.dashboard-sidebar button {
  padding: 1rem 2rem;
  border-radius: 20px;
  color: var(--azul-oscuros-oikos);
  border: 2px solid var(--azul-oscuros-oikos) !important;
  outline: none; /* Elimina el borde de enfoque del navegador */

  font-weight: 600;
  transition: 0.3s ease-in-out; /* Transición de 0.5 segundos */

  &:hover {
    background-color: rgb(73, 150, 174);
    color: var(--verde-claro-oikos);
  }
  width: 400px;
}
