<div class="modal" (click)="onBackdropClick($event)">
  <div class="modal">
    <div class="modal-content">
      <span class="close" (click)="onClose()">&times;</span>
      <div class="modal-info">
        <form
          (ngSubmit)="updateInstalacion(instalacionForm)"
          #instalacionForm="ngForm"
          novalidate
        >
          <h1>Editando {{ instalacionEditando.nombre }}</h1>
          <div>
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              [(ngModel)]="instalacionEditando.nombre"
              required
            />
          </div>
          <div>
            <label>Días Abierto:</label>
            <div *ngFor="let dia of diasSemana">
              <input
                type="checkbox"
                [value]="dia"
                (change)="onDiasAbiertoChange($event)"
                [checked]="instalacionEditando.diasAbierto.includes(dia)"
                [id]="dia"
              />
              <label [for]="dia">{{ dia }}</label>
            </div>
          </div>
          <div>
            <label for="horarioApertura">Horario Apertura:</label>
            <input
              type="time"
              id="horarioApertura"
              name="horarioApertura"
              [(ngModel)]="instalacionEditando.horarioApertura"
              required
            />
          </div>
          <div>
            <label for="horarioCierre">Horario Cierre:</label>
            <input
              type="time"
              id="horarioCierre"
              name="horarioCierre"
              [(ngModel)]="instalacionEditando.horarioCierre"
              required
            />
          </div>
          <!--<div>
            <label for="intervalo">Intervalo:</label>
            <input
              type="time"
              id="intervalo"
              name="intervalo"
              [(ngModel)]="instalacionEditando.intervalo"
              required
            />
          </div>
          <div>
            <label for="plazasIntervalo">Plazas por Intervalo:</label>
            <input
              type="number"
              id="plazasIntervalo"
              name="plazasIntervalo"
              [(ngModel)]="instalacionEditando.plazasIntervalo"
              required
            />
          </div>
          <div>
            <label for="invitacionesMensualesMaximas"
              >Invitaciones Mensuales Máximas:</label
            >
            <input
              type="number"
              id="invitacionesMensualesMaximas"
              name="invitacionesMensualesMaximas"
              [(ngModel)]="instalacionEditando.invitacionesMensualesMaximas"
              required
            />
          </div>-->
          <button type="submit">Actualizar</button>
          <button type="button" (click)="cancelEditing()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
