<main class="instalaciones_main fade-in">
  <a routerLink="/dashboard">
    <h2 class="regresar">
      Regresar al menu principal
      <img src="./../../../../assets/icons/back.svg" /></h2
  ></a>
  <div class="instalaciones_container">
    <h2 class="instalaciones_title">Instalaciones:</h2>
    <button class="create-button" (click)="openCreateInstalacionModal()">
      Crear instalación
    </button>
    <div class="cards_container">
      <div class="instalaciones_card" *ngFor="let instalacion of instalaciones">
        <div>
          <h2>
            {{ instalacion.nombre }}
            <img src="./../../../../assets/icons/facility.svg" />
          </h2>
          <p>
            Días Abierto:
            {{
              isTodosLosDias(instalacion.diasAbierto)
                ? "TODOS LOS DIAS"
                : instalacion.diasAbierto.join(", ")
            }}
          </p>
          <p>Horario de Apertura: {{ instalacion.horarioApertura }}</p>
          <p>Horario de Cierre: {{ instalacion.horarioCierre }}</p>
          <!--<p>Intervalo: {{ instalacion.intervalo }}</p>
        <p>Plazas por Intervalo: {{ instalacion.plazasIntervalo }}</p>
        <p>
          Invitaciones Mensuales Máximas:
          {{ instalacion.invitacionesMensualesMaximas }}
        </p>-->
        </div>
        <div class="button-container">
          <button
            (click)="startEditing(instalacion); openEditInstalacionModal()"
          >
            Editar
          </button>
          <button (click)="deleteInstalacion(instalacion.idInstalacion)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</main>

<app-create-instalacion
  *ngIf="showCreateInstalacionModal"
  (close)="closeModal()"
  (instalacionCreada)="onInstalacionCreada()"
></app-create-instalacion>

<app-edit-instalacion
  *ngIf="showEditInstalacionModal"
  (close)="closeModal()"
  (instalacionEditada)="onInstalacionEditada()"
  [instalacionEditando]="instalacionEditando"
></app-edit-instalacion>
