.tarea-modal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.tareas-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--verde-claro-oikos);
  margin: 2rem;
  border-radius: 30px;
  padding: 2rem;
  flex-wrap: wrap;
}
.create-button {
  padding: 1rem 2rem;
  border-radius: 20px;
  color: var(--azul-oscuros-oikos);
  border: 2px solid var(--azul-oscuros-oikos) !important;
  outline: none; /* Elimina el borde de enfoque del navegador */

  font-weight: 600;
  transition: 0.3s ease-in-out; /* Transición de 0.5 segundos */

  &:hover {
    background-color: rgb(73, 150, 174);
    color: var(--verde-claro-oikos);
  }
  width: 400px;
}
.tareas_card div {
  align-self: flex-end;
}

.tareas_card button {
  padding: 0.5rem 1rem;
  margin: 2rem 0.5rem 0 0.5rem;
  border-radius: 10px;
  color: var(--azul-oscuros-oikos);
  border: 2px solid var(--azul-oscuros-oikos) !important;
  outline: none; /* Elimina el borde de enfoque del navegador */
  font-weight: 600;
  transition: 0.3s ease-in-out; /* Transición de 0.5 segundos */

  &:hover {
    background-color: rgb(73, 150, 174);
    color: var(--verde-claro-oikos);
  }
}

.update-tarea-container {
  flex: 0 0 300px; /* Ancho fijo para el formulario */
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(67, 110, 142);
  margin: 2rem;
}

.recuadro {
  --bs-bg-opacity: 1;
  background-color: rgb(222, 235, 233);
}

.dark-blue-oikos-color {
  color: rgb(67, 110, 142);
}

.dark-blue-oikos-button {
  color: rgb(67, 110, 142);
  --bs-btn-border-color: rgb(67, 110, 142);
}
