<app-calendar></app-calendar>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card recuadro dark-blue-oikos-color" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Iniciar Sesión</h2>
              <p class="mb-5">Por favor, introduce tu usuario y contraseña:</p>

              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="" href="#!">¿Olvidaste la contraseña?</a></p>

              <button data-mdb-button-init data-mdb-ripple-init
                  class="btn btn-outline-light btn-lg px-5 dark-blue-oikos-button"
                  type="submit">Iniciar Sesión
              </button>

            </div>

            <div>
              <p class="mb-0">¿No eres miembro? <a href="#!" class="fw-bold">Regístrate</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="tarea-modal">
  <div class="instalaciones-actuales" *ngFor="let tarea of tareas">
    <h2 *ngIf="!editando">{{ tarea.nombre }}</h2>
    <p>Descripción: {{ tarea.descripcion }}</p>
    <p>Instalación: {{ tarea.instalacion.nombre }}</p>
    <p>Fecha: {{ tarea.fecha }}</p>
    <p>Duración: {{ tarea.duracion }}</p>
    <p>Usuario: {{ tarea.usuarioAsignado }}</p>
    <p>Acabada: {{ tarea.tareaAcabada }}</p>
    <button (click)="deleteTarea(tarea.idTarea)">Eliminar tarea</button>
    <button (click)="startEditing(tarea)">Editar tarea</button>
  </div>

  <!--Update form-->
  <div class="update-tarea-container">
    <form
      *ngIf="isEditing"
      (ngSubmit)="updateTarea(tareaForm)"
      #tareaForm="ngForm"
      novalidate
    >
      <h1>Editando {{ tareaEditando.nombre }}</h1>
      <div>
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          [(ngModel)]="tareaEditando.nombre"
          required
        />
      </div>
      <div>
        <label for="instalacion">Instalación:</label>
        <select
          id="instalacion"
          name="instalacion"

          [(ngModel)]="tareaEditando.instalacion.idInstalacion"

          required
        >
          <option value="" disabled>Selecciona una instalación</option>
          <option
            *ngFor="let instalacion of instalaciones"

            [value]="tareaEditando.instalacion.idInstalacion"

          >
            {{ instalacion.nombre }}
          </option>
        </select>
      </div>
      <div>
        <label for="descripcion">Descripción:</label>
        <input
          type="text"
          id="descripcion"
          name="descripcion"
          [(ngModel)]="tareaEditando.descripcion"
          required
        />
      </div>
      <div>
        <label for="horarioCierre">Fecha:</label>
        <input
          type="date"
          id="fecha"
          name="fecha"
          [(ngModel)]="tareaEditando.fecha"
          required
        />
      </div>
      <div>
        <label for="duración">Duración:</label>
        <input
          type="text"
          id="duracion"
          name="duracion"
          [(ngModel)]="tareaEditando.duracion"
          required
        />
      </div>
      <div>
        <label for="usuarioAsignado">Usuario Asignado:</label>
        <input
          type="number"
          id="plazasIntervalo"
          name="plazasIntervalo"
          [(ngModel)]="tareaEditando.usuarioAsignado"
        />
      </div>
      <div>
        <label for="tareaAcabada">Estado de tarea:</label>
        <input
          type="text"
          id="tareaAcabada"
          name="tareaAcabada"
          [(ngModel)]="tareaEditando.tareaAcabada"
          required
        />
      </div>
      <button type="submit">Actualizar</button>
      <button type="button" (click)="cancelEditing()">Cancelar</button>
    </form>
  </div>
</div>



