.tarea-modal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.instalaciones-actuales {
  max-height: 80%; /* Altura máxima del contenedor */
  overflow-y: auto; /* Desplazamiento vertical */
  flex: 1;
  margin-right: 2rem; /* Espacio entre la lista y el formulario */
}

.update-tarea-container {
  flex: 0 0 300px; /* Ancho fijo para el formulario */
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(67, 110, 142);
  margin: 2rem;
}

.recuadro {
  --bs-bg-opacity: 1;
  background-color: rgb(222, 235, 233);
}

.dark-blue-oikos-color{
  color: rgb(67, 110, 142);
}

.dark-blue-oikos-button{
  color: rgb(67, 110, 142);
  --bs-btn-border-color: rgb(67, 110, 142);
}
