<div class="instalaciones-actuales" *ngFor="let tarea of tareas">
  <h2>{{ tarea.nombre }}</h2>
  <p>Descripción: {{ tarea.descripcion }}</p>
  <p>Instalación: {{ tarea.instalacion.nombre }}</p>
  <p>Fecha: {{ tarea.fecha }}</p>
  <p>Duración: {{ tarea.duracion }}</p>
  <p>
    Usuario:
    {{ tarea.usuarioAsignado ? tarea.usuarioAsignado.nombre : "No asignado" }}
  </p>
  <p>Acabada: {{ tarea.tareaAcabada }}</p>
  <button (click)="autoAsignacion(usuario, tarea)">Autoasignarse tarea</button>
  <button (click)="desasignarTarea(tarea)">Desasignar tarea</button>
  <button (click)="cambiarEstadoTarea(tarea)">
    {{
      tarea.tareaAcabada ? "La tarea no está acabada" : "La tarea está acabada"
    }}
  </button>
</div>
