<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro - Entradas</title>
</head>
<body>
    <div class="home-div-container">
        <main class="home-main">
            <h1>Crear Entrada</h1>
            <div class="entry-form">
                <form (ngSubmit)="createEntradaForo(entryForm)" #entryForm="ngForm" novalidate>
                    <div>
                        <label for="titulo">Título:</label>
                        <input type="text" id="titulo" [(ngModel)]="entradaForo.titulo" class="text-input" name="titulo" required>
                    </div>
                    <div>
                        <label for="textoComentario">Asunto:</label>
                        <textarea id="textoComentario" [(ngModel)]="entradaForo.textoComentario" name="textoComentario" class="text-input" rows="4" cols="50"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear Entrada</button>
                </form>
            </div>

            <br>
            <h1>Ver Entradas</h1>
            <div class="entry-container">
                <div *ngFor="let entradaForo of entradasForo" class="entry-card">
                    <a [href]="'/entrada-foro/' + entradaForo.ID_entrada">
                        <div class="entry-card">
                        <p><b>Título:</b>{{ entradaForo.titulo }}</p>
                        </div>
                        <div class="entry-info">
                            <p><b>Mensaje:</b>{{ entradaForo.textoComentario }}</p>
                        </div>
                        <hr>
                        <div class="entry-footer">
                            <small><b>ID:</b>{{ entradaForo.ID_entrada }}</small>
                            <br>
                            <small>Created: {{ entradaForo.fecha | date : "medium" }} </small>
                        </div>
                    </a>
                    <br>
                    <button type="submit" class="btn btn-info">Responder</button>
                    <!-- *ngIf="entradaForo.authorId === currentUserId"
                    *ngIf="entradaForo.authorId === currentUserId" -->
                    <button  (click)="updateEntrada()" class="btn btn-info" style="margin-left: 10px">Editar</button>
                    <button  (click)="deleteEntrada(entradaForo.ID_entrada)" class="btn btn-danger" style="margin-left: 10px">Eliminar</button>
                </div>
                <br>
            </div>
            <div><button (click)="onRefreshClick()" class="btn btn-primary">Actualizar Entradas</button></div>
            <br>
        </main>
    </div>
</body>
</html>
