<div class="modal" (click)="onBackdropClick($event)">
  <div class="modal-content">
    <span class="close" (click)="onClose()">&times;</span>
    <div class="modal-info">
      <form
        (ngSubmit)="createEventos(eventoForm)"
        #eventoForm="ngForm"
        novalidate
      >
        <div class="modal_title titulo_h1">
          <h1>Crear Evento</h1>
          <div class="recuadro" style="border-radius: 1rem">
            <div class="form-group">
              <label for="titulo">Título: </label>
              <input
                type="text"
                id="titulo"
                [(ngModel)]="evento.titulo"
                name="titulo"
                required
              />
            </div>
            <div class="dashboard-sidebar button form-group">
              <label for="fecha">Fecha: </label>
              <input
                type="date"
                id="fecha"
                [(ngModel)]="evento.fecha"
                name="fecha"
                required
              />
            </div>
            <div class="dashboard-sidebar button form-group">
              <label for="hora">Hora: </label>
              <input
                type="time"
                id="hora"
                [(ngModel)]="evento.hora"
                name="hora"
              />
            </div>
            <div class="dashboard-sidebar button form-group">
              <label for="description">Descripción: </label>
              <input
                type="text"
                id="description"
                [(ngModel)]="evento.descripcion"
                name="description"
              />
            </div>
            <div class="dashboard-sidebar button form-group">
              <label for="categoria">Categoría: </label>
              <select
                id="categoria"
                [(ngModel)]="evento.categoria"
                name="categoria"
              >
                <option value="" disabled selected>
                  Selecciona una categoría
                </option>
                <option value="Fiesta">Fiesta</option>
                <option value="Junta">Junta</option>
                <option value="Excursion">Excursión</option>
                <option value="Otros">Otros</option>
              </select>
            </div>
            <div class="dashboard-sidebar button form-group">
              <label for="instalacion">Instalación: </label>
              <select
                id="instalacion"
                name="instalacion"
                [(ngModel)]="evento.instalacion.idInstalacion"
                required
              >
                <option value="" disabled>Selecciona una instalación</option>
                <option
                  *ngFor="let instalacion of instalaciones"
                  [value]="instalacion.idInstalacion"
                >
                  {{ instalacion.nombre }}
                </option>
              </select>
            </div>
            <div class="dashboard-sidebar button form-group">
              <label for="aforo">Aforo: </label>
              <input
                type="number"
                min="0"
                id="aforo"
                [(ngModel)]="evento.aforo"
                name="aforo"
              />
            </div>
            <button
              type="submit"
              class="dashboard-sidebar button form-group color_button_crear textocentrado"
            >
              Crear Evento
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
