<section class="navbar-container fade-in">
  <img src="../../../../../assets/logo.png" class="logo" />
  <nav class="navbar">
    <ul>
      <li *ngIf="!isLoggedIn() && !isHomePage()">
        <a routerLink="">Home</a>
      </li>
      <li *ngIf="!isLoggedIn() && !isLoginPage()">
        <a (click)="login()">Iniciar sesión</a>
      </li>
      <li *ngIf="isLoggedIn()">
        <a (click)="logout()">Cerrar sesión</a>
      </li>
      <li *ngIf="!isLoggedIn()">
        <a (click)="tareas()">Tareas</a>
      </li>
      <li>
        <a routerLink="about">Acerca de nosotros</a>
      </li>
      <li>
        <a routerLink="contacta">
          <button class="btn-nav">
            <span>Contáctanos</span>
            <svg width="15px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </button>
        </a>
      </li>
    </ul>
  </nav>
</section>
