.navbar-container {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.logo {
  margin: 1rem 1rem;
  padding: 1rem 2rem;
  width: 200px;
  height: auto;
  object-fit: contain;
}

.navbar {
  background-color: rgb(222, 235, 233);
  color: rgb(67, 110, 142);
  margin: 1rem 3rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  width: fit-content;
}

.navbar ul {
  display: flex;
  gap: 3rem;
  justify-content: right;
  align-items: center;
  margin-bottom: 0;
}

.navbar li {
  transition: all 0.3s ease;
}

.navbar li:hover {
  color: black;
  cursor: pointer;
}

.btn-nav {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: #b1dae7;
  cursor: pointer;
  border-radius: 50px;
}

.btn-nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.btn-nav span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
  transition: all 0.3s ease;
}

.btn-nav svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.btn-nav:before {
  background: #b1dae7;
  height: 100%;
}
.btn-nav:hover span {
  color: rgb(222, 235, 233);
}
.btn-nav:hover:before {
  width: 100%;
  background: #4996ae;
}

.btn-nav:hover svg {
  transform: translateX(0);
  stroke: rgb(222, 235, 233);
}

.btn-nav:active {
  transform: scale(0.95);
}

@media (max-width: 800px) {
  .navbar ul {
    gap: 2rem;
  }
}
