.registros-main {
  margin: 0 3rem;
}

.registros-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--verde-claro-oikos);
  margin: 2rem;
  border-radius: 30px;
  padding: 2rem;
}

.registros-container h2 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--azul-oscuros-oikos);
  word-spacing: 0.5rem;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
}
.registros-container button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: var(--azul-oscuros-oikos);
  border: 2px solid var(--azul-oscuros-oikos) !important;
  outline: none; /* Elimina el borde de enfoque del navegador */
  font-weight: 600;
  transition: 0.3s ease-in-out; /* Transición de 0.5 segundos */

  &:hover {
    background-color: rgb(73, 150, 174);
    color: var(--verde-claro-oikos);
  }
}

.usuarios_card {
  display: flex;
  flex-direction: column;
  background-color: var(--azul-oscuros-oikos);
  color: var(--verde-claro-oikos);
  padding: 2rem;
  border-radius: 30px;
  border: var(--verde-claro-oikos) solid 2px;
  width: 45%;
}

.usuarios_card div {
  align-self: flex-end;
}

.usuarios_card button {
  margin: 2rem 0.5rem 0 0.5rem;
}

.usuarios_card img {
  width: 30px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.registros-container p {
  margin-bottom: 0.5rem;
}

.usuarios_container {
  padding: 2rem 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.separator {
  border: none;
  height: 3px;
  background-color: var(
    --azul-oscuros-oikos
  ); /* Cambia el color según tu preferencia */
  margin: 4rem 0; /* Ajusta los márgenes según sea necesario */
}

.regresar {
  font-weight: 700;
  color: var(--verde-claro-oikos);
}

.regresar img {
  width: 30px;
  margin-bottom: 0.5rem;
}

.not-found {
  color: var(--azul-oscuros-oikos);
}
