<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="onClose()">&times;</span>
    <div class="modal-info">
      <div class="instalaciones-container">
        <div
          class="instalaciones-actuales"
          *ngFor="let instalacion of instalaciones"
        >
          <h2 *ngIf="!editando">{{ instalacion.nombre }}</h2>
          <p>Días Abierto: {{ instalacion.diasAbierto.join(", ") }}</p>
          <p>Horario de Apertura: {{ instalacion.horarioApertura }}</p>
          <p>Horario de Cierre: {{ instalacion.horarioCierre }}</p>
          <p>Intervalo: {{ instalacion.intervalo }}</p>
          <p>Plazas por Intervalo: {{ instalacion.plazasIntervalo }}</p>
          <p>
            Invitaciones Mensuales Máximas:
            {{ instalacion.invitacionesMensualesMaximas }}
          </p>
          <button (click)="deleteInstalacion(instalacion.idInstalacion)">
            Eliminar instalación
          </button>
          <button (click)="startEditing(instalacion)">
            Editar instalación
          </button>
        </div>
      </div>
      <!--Update form-->
      <form
        *ngIf="isEditing"
        (ngSubmit)="updateInstalacion(instalacionForm)"
        #instalacionForm="ngForm"
        novalidate
      >
        <h1>Editando {{ instalacionEditando.nombre }}</h1>
        <div>
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            [(ngModel)]="instalacionEditando.nombre"
            required
          />
        </div>
        <div>
          <label>Días Abierto:</label>
          <div *ngFor="let dia of diasSemana">
            <input
              type="checkbox"
              [value]="dia"
              (change)="onDiasAbiertoChange($event)"
              [checked]="instalacionEditando.diasAbierto.includes(dia)"
              [id]="dia"
            />
            <label [for]="dia">{{ dia }}</label>
          </div>
        </div>
        <div>
          <label for="horarioApertura">Horario Apertura:</label>
          <input
            type="time"
            id="horarioApertura"
            name="horarioApertura"
            [(ngModel)]="instalacionEditando.horarioApertura"
            required
          />
        </div>
        <div>
          <label for="horarioCierre">Horario Cierre:</label>
          <input
            type="time"
            id="horarioCierre"
            name="horarioCierre"
            [(ngModel)]="instalacionEditando.horarioCierre"
            required
          />
        </div>
        <div>
          <label for="intervalo">Intervalo:</label>
          <input
            type="time"
            id="intervalo"
            name="intervalo"
            [(ngModel)]="instalacionEditando.intervalo"
            required
          />
        </div>
        <div>
          <label for="plazasIntervalo">Plazas por Intervalo:</label>
          <input
            type="number"
            id="plazasIntervalo"
            name="plazasIntervalo"
            [(ngModel)]="instalacionEditando.plazasIntervalo"
            required
          />
        </div>
        <div>
          <label for="invitacionesMensualesMaximas"
            >Invitaciones Mensuales Máximas:</label
          >
          <input
            type="number"
            id="invitacionesMensualesMaximas"
            name="invitacionesMensualesMaximas"
            [(ngModel)]="instalacionEditando.invitacionesMensualesMaximas"
            required
          />
        </div>
        <button type="submit">Actualizar</button>
        <button type="button" (click)="cancelEditing()">Cancelar</button>
      </form>
      <div>
        <form
          (ngSubmit)="createInstalacion(instalacionForm)"
          #instalacionForm="ngForm"
          novalidate
        >
          <h1>Crear Instalaciones</h1>
          <div>
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              [(ngModel)]="instalacion.nombre"
              required
            />
          </div>
          <div>
            <label>Días Abierto:</label>
            <div *ngFor="let dia of diasSemana">
              <input
                type="checkbox"
                [value]="dia"
                (change)="onDiasAbiertoChange($event)"
                [id]="dia"
              />
              <label [for]="dia">{{ dia }}</label>
            </div>
          </div>

          <div>
            <label for="horarioApertura">Horario Apertura:</label>
            <input
              type="time"
              id="horarioApertura"
              name="horarioApertura"
              [(ngModel)]="instalacion.horarioApertura"
              required
            />
          </div>
          <div>
            <label for="horarioCierre">Horario Cierre:</label>
            <input
              type="time"
              id="horarioCierre"
              name="horarioCierre"
              [(ngModel)]="instalacion.horarioCierre"
              required
            />
          </div>
          <div>
            <label for="intervalo">Intervalo:</label>
            <input
              type="time"
              id="intervalo"
              name="intervalo"
              [(ngModel)]="instalacion.intervalo"
              required
            />
          </div>
          <div>
            <label for="plazasIntervalo">Plazas por Intervalo:</label>
            <input
              type="number"
              id="plazasIntervalo"
              name="plazasIntervalo"
              [(ngModel)]="instalacion.plazasIntervalo"
              required
            />
          </div>
          <div>
            <label for="invitacionesMensualesMaximas"
              >Invitaciones Mensuales Máximas:</label
            >
            <input
              type="number"
              id="invitacionesMensualesMaximas"
              name="invitacionesMensualesMaximas"
              [(ngModel)]="instalacion.invitacionesMensualesMaximas"
              required
            />
          </div>
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
