.fc .fc-toolbar {
  background-color: #007bff !important;
  color: white;
}

.fc .fc-toolbar button {
  background-color: #0056b3;
  color: white;
}

.fc .fc-toolbar-title {
  background-color: #0056b3;
  color: white;
  padding: 5px;
  border-radius: 4px;
}
